<!DOCTYPE html>
<html>
<body>
  <wicket:panel>
    <div wicket:id="content">
      <table>
        <tr>
          <td colspan="2" style="padding-bottom: 25px">
            <div wicket:id="message">Do you really want to perform this action?</div>
          </td>
        </tr>
        <tr>
          <td style="float: right;"><input type="button" value="Confirm" wicket:id="confirm" /></td>
          <td><input type="button" value="Cancel" wicket:id="cancel" /></td>
        </tr>
      </table>
    </div>
  </wicket:panel>
</body>
</html>