.menu {
  font-size: 0.75em;
  width: 150px;
  color: #f90;
  line-height: 25px;
  text-indent: 10px;
}

.menu ul {
  margin: 0 0 0 0px;
  padding: 0;
  border-bottom: #fff solid;
  border-top: #fff solid;
  border-width: 1px;
  background: #fff;
}

.menu li {
  list-style: none;
  border-bottom: #fff solid;
  border-top: #fff solid;
  border-width: 1px;
  background-color: #6493D2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.menu a {
  cursor: pointer;
  color: #fff !important;
  display: block;
  height: 25px;
  text-decoration: none;
  line-height: 25px;
  text-indent: 10px;
  width: 100%;
}

.menu a:hover {
  text-decoration: underline;
}

.menu li:hover {
  background: #092E67;
  position: relative;
}